// Временно используем @import для совместимости
@import "variables";
@import "globals";
@import "animations";
@import "header";
@import "calculator";
@import "visualization";
@import "inputs";
@import "controls";
